body {
  background-color: #f2e0ab;
}

.container {
  margin: 15px;
  padding: 10px;
}
.header {
  float: right;
  padding: 20px;
  text-align: center;
  font-size: 20px
}

h1 {
  border-radius: 15px;
  font-family: sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #7ca3e2;
  border:#5d90e2 outset;
  width: 400px;
  font-weight: bold;
}

p {
  color: #374254;
  padding: 20px
}

.intro {
  border-radius: 10px;
  border: solid #ffdd77 6px;
  font-family: sans-serif;
  background-color:#b0fcd1;
  margin-left: 60px
}

img {
  border-radius: 30%;
  float: right;
  border-style: ridge;
  width: 160px;
  height: auto;
  max-height: 50px
  margin-right: 60px;
}

li {
  font-family: sans-serif;
}

.projects {
  font-family: sans-serif;
  border-radius: 3%;
  border: inset #f7e1bb 15px;
  background-color: #fcc592;
  float: left;
  width: 300px
  margin-top: 100px;
}

.hobbies {
  font-family: sans-serif;
  border-radius: 3%;
  border: inset #f7e1bb 15px;
  background-color: #fcc592;
  float: right;
  margin-top: 80px;
}
